{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <header class="masthead" style="{{ url_for('static', filename='assets/img/post-bg.jpg') }}">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Intelligent Text Generator</h1>
                            <h2 class="subheading">Start generating content now!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="bg-light p-5 rounded mt-5">
          
            <form class="" action="/generator/summarization" method="post">
        
              <div class="mb-3">
                <label class="form-label">Summarization</label>
                <!--<input type="area" class="form-control" name="summarization" placeholder="eg. Apple iPhone">-->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = 'summarization' placeholder="eg. Apple iPhone"></textarea>
                <div class="form-text">Enter text you want to summarize.</div>
              </div>
        
              <button type="submit" class="btn btn-primary btn-lg">GET RECOMMENDATIONS</button>
        
            </form>
            <div class="p-3 rounded">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="text-primary">{{prompt}}</h3>
                  <p class="lead">{{openAIAnswer}}</p>
          
                </div>
              </div>
            </div>
          </div>


{% endblock %}